<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Adresse</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<!-- Contenu spécifique de la page addresses -->
<!-- Inclusion du fragment navbar.html -->
<div th:replace="fragment/navbar"></div>

<!-- Contenu spécifique de la page addresses -->
<h1>Les différentes adresses</h1>
<ul th:each="address : ${allAddresses}">
  <li th:text="${address.content + ' - Auteur : ' + address.auteur}" />
</ul>
</body>
</html>